@font-face {
  font-family: Metropolis-Medium;
  src: url("font/Metropolis-Medium.otf"),
    url("font/Metropolis-Medium.otf") format("opentype");
}

@font-face {
  font-family: Metropolis-Bold;
  font-weight: bold;
  src: url("font/Metropolis-Bold.otf"),
    url("font/Metropolis-Bold.otf") format("opentype");
}

#mainContent {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

#gameDiv {
  margin-left: 10px;
  margin-right: 10px;
  min-height: 95vh;
}

html,
body,
.login-box {
  background: #212121;
  height: 95%;
  /* background-image: url("https://cdn.pokernow.club/background-1e322d8c87ed7c812d5b96734c97b8cf.jpg");
  background-repeat: repeat; */
}

.card {
  margin-right: auto !important;
  margin-left: auto !important;
}

.card-act {
  margin-right: auto !important;
}

body {
  font-family: Metropolis-Medium;
}

code {
  font-size: 24px;
  background-color: #ebebeb;
}

.playingCard_black {
  float: left;
  /* border: 5px solid black; */
  background-color: white;
  border-radius: 5px;
  height: 115px;
  width: 75px;
  color: black;
  padding: 5px;
  margin: 4px;
  font-size: 38px;
}

#usernamesMoney {
  font-size: 30px;
  min-height: 219px;
}

.playingCard_red {
  float: left;
  /* border: 5px solid black; */
  background-color: white;
  border-radius: 5px;
  height: 115px;
  width: 75px;
  color: red;
  padding: 5px;
  margin: 4px;
  font-size: 38px;
}

.menuButtons {
  zoom: 0.8;
  margin: 2px;
}

.card-content {
  font-size: 11px;
}

.theirTurn {
  border: 5px solid yellow;
}

.playingCard_red_opponent {
  float: left;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  height: 59px;
  width: 46px;
  color: red;
  padding: 5px;
  margin: 4px;
  font-size: 16px;
}

.playingCard_black_opponent {
  float: left;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  height: 59px;
  width: 46px;
  color: black;
  padding: 5px;
  margin: 4px;
  font-size: 16px;
}

.blankCard {
  float: left;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  /* border: 5px solid black; */
  border-radius: 5px;
  height: 59px;
  width: 46px;
  padding: 10px;
  margin: 4px;
}

.selected {
  background: grey;
  border: 2px solid red;
}

#divStart {
  text-align: center;
}

.modal {
  position: absolute;
}

.toast {
  position: relative;
  z-index: -1 !important;
}

/* .board{
  border: 15px solid rgb(24, 23, 23);
  width: 800px;
  margin-left: 20%;
  border-radius: 500px;
  height: 400px;
  padding-left:3%;
  padding-top: 200px;
  box-shadow: 20px black;
} */

 .main {
  display: flex;
  justify-content: center;
  /* position: relative;
  top: -60vh; */
  border: 5px solid #070707;
  box-shadow: 10px 10px 0 0 #424242;
  border-radius: 50%;
  width: 750px;
  height: 370px;
  /* width: 65%; */
  margin-left: 20%;
  z-index: 2;
  background-color: #43A047;
  /* background: url("aviaboard\ \(1\).png"); */
  margin-top: 47px;
  /* background-size:cover ; */
}

.card-view{
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
width: 400px;
}

.table-heading{
  padding-bottom: 15px;
  color: white;
  font-weight: bold;
  font-size: 27px;
  padding-left: 18%;
}

/* .mains {
  display: flex;
  justify-content: center;
  position: relative;
  top: -60vh;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 4px solid #dd1515;
} */

.circle {
  position: absolute;
  /* left: calc(48% - 25px);
  top: calc(64% - 25px); */
}

.circle:nth-child(1) {
  transform: translateX(516px);
}

.circle:nth-child(2) {
  transform: rotate(31deg) translateX(177px);
}

.circle:nth-child(2) > div {
  transform: rotate(-31deg);
}

.circle:nth-child(3) {
  transform: rotate(166deg) translateX(238px);
}
.circle:nth-child(3) > div {
  transform: rotate(-166deg);
}

.circle:nth-child(4) {
  transform: rotate(194deg) translateX(414px);
}
.circle:nth-child(4) > div {
  transform: rotate(-194deg);
}

.circle:nth-child(5) {
  transform: rotate(218deg) translateX(429px);
}
.circle:nth-child(5) > div {
  transform: rotate(-218deg);
}
.circle:nth-child(6) {
  transform: rotate(272deg) translateX(357px);
}
.circle:nth-child(6) > div {
  transform: rotate(-272deg);
}
.circle:nth-child(7) {
  transform: rotate(318deg) translateX(499px);
}
.circle:nth-child(7) > div {
  transform: rotate(-318deg);
}
.circle:nth-child(8) {
  transform: rotate(342deg) translateX(599px);
}
.circle:nth-child(8) > div {
  transform: rotate(-342deg);
}

.highlight {
  filter: grayscale(1)
}

.highborder{
  box-shadow: 5px 0 0 5px black;
}
/* .endgamecards{
  display: flex;
  flex-direction: column;
} */

.resultpopup{
  box-shadow:
    inset 0 0 50px black,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

.scoreColors{
  background: linear-gradient(110deg, #0059b3 50%, #0080ff 50%);
}

.final-style{
  display: flex;
}

.opponent-cards-arran{
  display: flex;
  flex-direction: column;
}

.folded-end{
  width: 185px;
    height: 70px;
}
.final-shadow{
  box-shadow: 5px 5px 0 0 black;

}

.chatdesign{
  width: 300px;
  /* background: aliceblue; */
  border-radius: 10px;
  padding: 10px;
  /* overflow: auto; */
  position: fixed;
  bottom: 0;
  left: 0;
}

.messageList{
  text-align: left;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* overflow: auto; */
    overflow: auto;
    max-height: 158px;
    min-height: 158px;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 1.2em;
    border: 2px solid white;
    overflow-wrap: break-word;
    background: black;
    opacity: 0.6;
}

.formSpace{
  background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 40px;
    padding-left: 15px;
    opacity: 0.6;
}

.chatdata{
  background: white;
  border-radius: 5px;
  padding-left: 5px;
}

.messagename{
  font-size: 13px;
}

.predictguess{
  text-align: center;
    font-size: 17px;
}

.watermark{
  font-size: 60px;
  font-weight: bold;
  font-family: inherit;
  color: white;
  opacity: 0.3;
}

.callBtns{
  background-color: transparent;
  border: 1px solid #26a69a;
  width: 160px;
  height: 66px;
  border-radius: 10px;
  color: #26a69a;
  font-size: 22px;
  font-weight: bold;
}

.callBtns:hover{
  color: white;
  background-color: #26a69a;
}

.callBtnss{
  background-color: transparent;
  border: 1px solid #26a69a;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  color: #26a69a;
  font-size: 22px;
  font-weight: bold;
}

.callBtnss:hover{
  color: white;
  background-color: #26a69a;
}

.final-text{
  line-height: 1.3;
}

.finaltextName{
  font-size: 14px;
}
.suggestion-view{
  background: tomato;
    color: white;
    border: none;
    border-radius: 10px;
    width: 170px;
    font-weight: bold;
    font-size: 1.2em;
    font-family: sans-serif;
}
.countdown-timer{
  display: block;
    font-size: 22px;
    color: crimson;
    margin-right: 44px;
    font-weight: bolder;
}
.timerstartbtn{
  border-radius: 12px;
    font-size: 19px;
    background-color: darkcyan;
    height: 68px;
    width: 133px;
    margin-left: 998px;
}
.timerstopbtn{
  background-color: crimson;
    border-radius: 12px;
    font-size: 19px; 
    height: 66px;
    width: 133px;;
}